/* Header */

div.container{
    padding: 0px;
}

/* Header end */

/* Section */

section.main div.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

div.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

div.slides input{
    visibility: hidden;
}

div.slide{
    width: 20%;
    transition: 2s;
}

div.slide img{
    width: 800px;
    height: 500px;
}

div.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

label.manual-btn{
    border: 2px solid #00008B;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

label.manual-btn:not(:last-child){
    margin-right: 40px;
}

label.manual-btn:hover{
    background: #00008B;
}

#r1:checked ~ .first{
    margin-left: 0;
}

#r2:checked ~ .first{
    margin-left: -20%;
}

#r3:checked ~ .first{
    margin-left: -40%;
}

#r4:checked ~ .first{
    margin-left: -60%;
}

/* Section end */

/* Extra Section */



/* Extra Section end */

/* Footer */

footer {
    font-family: poppins;
    margin: 0px;
    display: grid;
    font-size: 14px;
}

.footer{
     display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flex;
     display: -o-flex;
     display: flex;
     flex-flow: row wrap;
     padding: 50px;
     color: #ffffff;
     background: #00008B;
 }

 .footer > * {
     flex: 1 100%;
 }

.footer-right{
    display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flex;
     display: -o-flex;
     display: flex;
     flex-flow: row wrap;
}

@media screen and (min-width:600px){
    .footer-right > * {
        flex:1 0px;
    }
}

/* Footer end */