* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    margin: 0px;
    background: rgb(35, 156, 172);
    height: 62px;
}

header * {
    color: white;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 20px;
}

header .logotext {
    margin: 10px;
}

header .logotext span {
    color: rgb(0, 241, 229);
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 62px;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    background: white;
    color: #444;
}

header ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 0.5cm;
}

header ul li a.logout {
    color: red;
}

header ul li a:hover {
    background: #006669;
    transition: 0.5s;
}

header .menu-toggle {
    display: none;
}